<div class="cart" id="cart">
  <% if current_cart.cart_items.present? %>
    <h3>You have <%= current_cart.cart_items.count %> product in your cart</h3>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <% current_cart.cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.product.name %></td>
              <td><%= cart_item.quantity %></td>
              <td><%= cart_item.product.price %></td>
              <td>
                <%= cart_item.sub_total %>
                <%= link_to '+', increase_cart_item_path(cart_item), method: :post, remote: true %>
                <%= link_to '-', decrease_cart_item_path(cart_item), method: :post, remote: true %>
                <%= link_to 'X', cart_item_path(cart_item), method: :delete, remote: true %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if current_cart.disounted? %>
        <h3>Regular price: <%= current_cart.regular_price %></h3>
        <h3>Discount amount: <%= current_cart.discount_amount %></h3>
      <% end %>
      <h3>Total price: <%= current_cart.total_price %></h3>
  <% else %>
    <h3>Your cart is empty</h3>
  <% end %>
</div>