<!DOCTYPE html>
<html>
<head>
  <title>CartDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/shared/cart_widget' if show_cart_widget? %>
<%= yield %>

</body>
</html>
